VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=autoajea-homepage.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=autoajea-homepage
VITE_FIREBASE_STORAGE_BUCKET=autoajea-homepage.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=611906114864
VITE_FIREBASE_APP_ID=your-app-id
VITE_ADMIN_EMAIL=yoonseukoh@gmail.com
